.vip-login-main{
    margin: 8%;
    background-color: rgba(230, 238, 232, 0.7);
    box-shadow: 0px 0px 0.4rem black;
    border-radius: 0.6rem
}
.vip-register-main{
    margin: 8%;
    background-color: rgba(230, 238, 232, 0.7);
    box-shadow: 0px 0px 0.4rem black;
    border-radius: 0.6rem
}